<h2>アイテム編集</h2><br>
<%= form_with(model:@item, local: true) do |f| %>
  <div class="field">    
    <%= f.text_field :name, placeholder: 'アイテム名'%>
    <%= f.submit '編集', class: 'btn btn-primary' %>
    <%= link_to '削除', item_path(@item), class:'btn btn-danger' %>
  </div>
<% end %>
